@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-bar {
  animation: loading-bar 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 100ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.loading-bar {
  animation:
    loading-bar 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    fade-in 0.1s ease-in 0.1s forwards;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
